body{
    background: #f4f4f4;
}
.header{
    height: 145px;
    border-bottom: 5px solid white;
    position: relative;
}
.header .header_top{
    background:#2f3441;
    height: 60px;
    position: fixed;
    z-index: 100;
}
.header .header_top>div div{
    padding: 0;
}
#nav>div{
    height: 60px;
    line-height: 60px;
}
#nav_left{
    height: 60px;
    line-height: 60px;
    float: left;
    padding: 0;
}
#nav_left li{

    display: inline-block;
    width: 80px;
    height: 60px;
    line-height: 60px;
    font-size: 16px;
    text-align: center;
}
#nav_left li a{
    display: block;
    height: 100%;
    text-decoration: none;
    color: #eeeeee;
}
#nav_left li a:hover{
    background: #4b4c57;
}
.wrap a{
    padding-left: 30px;
    color: #ffffff;
    text-decoration: none;
}
.wrap a:hover{
    color: #49Af4f;
}
#so{
    height: 60px;
    line-height: 60px;

}
#so>input{
    outline: none;
    border: 1px solid #49Af4f;
    border-left:0;
    width: 177px;
    height: 34px;
    position: relative;
    top: 14px;
    float: right;
}
#so>img{
    position: relative;
    top: 14px;
    float: right;
    margin-right: 20px;
}
#so>div{
    width: 57px;
    height: 34px;
    float: right;
    position: relative;
    top:14px;
    border: 1px solid #49Af4f ;
    border-right:0;
    background: white;
    line-height: 34px;
    padding-left: 10px;
    cursor: pointer;
}
#inputdrop{
    position: absolute;
    top: 48px;
    left: 64px;
    width: 268px;
    border-radius: 0;
    border: 1px solid #dddddd;
}
#so>div:hover{
    color:#49Af4f;
}
#touxing{
    background: red;
    width: 28px;
    height: 28px;
    border-radius: 28px;
    display: block;
    float: right;
    margin-top: 16px;
}
#touxing img{
    width: 28px;
    height: 28px;
}
.header_bottom a{
    color: #666666;
}
.header .header_bottom{
    height: 80px;
    background: white;
    position: relative;
    top: 60px;
}
.header_bottom_top{
    padding: 20px 0;
}
.header_bottom_top ul{
    padding: 0;
    margin: 0;
    height: 21px;
}
.header_bottom_top>ul>li{
    list-style: none;
    float: left;

}
.header_bottom_top>ul>li>a{
    text-decoration: none;
}
.header_bottom_bottom{
    padding: 0;
}
.header_bottom_bottom ul{
    padding: 0;
    height: 24px;
    width: 100%;
}
.header_bottom_bottom ul li{
    height: 24px;
    list-style: none;
    float: left;
    margin-right: 25px;
    padding: 2px 5px;
}
.header_bottom_bottom ul li a{
    text-decoration: none;
}
.header_bottom_bottom ul li a:hover{
    color:#49Af4f;
}
.header_bottom_bottom ul li.active{
    background:#49Af4f ;
}
.header_bottom_bottom ul li a.active{
    color: white;
}
.slider{
    height: 420px;
    margin-top: 40px;
    margin-bottom: 40px;
}
.slider>div{
    height: 420px;
}
.slider_left{
    width: 18.5%;
}
.slider_left img{
    margin-top: 20px;
    cursor: pointer;
}
.slider_center{
    width: 62.7%;
    padding:0 20px;
}
.slider_right{
    width: 18.8%;
    padding: 0;
}
.slider_right_header{
    height: 40px;
    width: 100%;
    padding: 0 30px 0 30px;
    background: #414141;
}
.slider_right_header>a{
    text-decoration: none;
    display:inline-block;
    height: 40px;
    padding:0 2px;
    line-height: 38px;
    color: #b4c0c3;
    cursor: pointer;
}
.slider_right_header>a.active{
    color: white;
    border-bottom:2px solid #10ae58;;
}
.slider_right_content{
    height: 380px;
    width: 100%;
    padding: 10px 23px;
    background: #5a5a5a;
}
.page1{
    display: block;
}
.page2{
    display: none;
}
.slider_right_content>div{
    height: 36px;
    width: 179px;
    padding: 8px 0;
}
.slider_right_content>div>div{
    width: 20px;
    height: 20px;
    color: #aaaaaa;
    margin-right: 10px;
    display: inline-block;
    float: left;
    border: 1px solid #aaa;
    font-size: 12px;
    text-align: center;
    line-height: 18px;
}
.slider_right_content>div>div.active{
    color: #fff;
    background-color: #39a030;
    border-color: #39a030;
}
.slider_right_content>div>a{
    color: #aaa;
    font-size: 14px;
    display:inline-block;
    line-height: 20px;
    text-overflow:ellipsis;
    float: left;
    overflow: hidden;
    white-space: nowrap;
    max-width: 148px;
    text-decoration: none;
}
.slider_right_content>div>a:hover{
    color: #3aa131;
}
#kecheng_nav{
    height: 40px;
    margin-bottom: 20px;
    background: white;
    position: relative;
}
#kecheng_nav>div{
    height: 40px;
}
#mao{
    width: 0;
    height: 0;
    position: absolute;
    top: -60px;
    left: 0;
}
#kecheng_nav>div li{
    list-style: none;
}
#kecheng_left>ul{
    height: 40px;
    padding: 0;
    float: left;
}
#kecheng_left>ul li.active{
    color:#49Af4f;
    width: 60px;
}
#kecheng_left>ul li{
    float: left;
    height: 40px;
    width: 88px;
    padding: 10px 16px;
    cursor: pointer;
}
#kecheng_left>ul li:hover{
    color:#49Af4f;
}
#kecheng_right ul{
    height: 40px;
    padding: 0;
    float: right;
}
#kecheng_right>ul li{
    display: inline-block;
    height: 40px;
    padding: 10px 0;
    cursor: pointer;
}
.jiage{
    width: 70px;
    height: 40px;
    padding: 0 12px;
    text-align: center;
}
.jiage i{
    font-size: 16px;
}
#kecheng_right>ul li.active{
    color:#49Af4f;
}
#kecheng_right>ul li:hover{
    color:#49Af4f;
}

.kecheng_content{
    width: 1225px;
}
.kecheng_content>div{
    width: 225px;
    height: 271px;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    background: white;
    padding: 1px;
    cursor: pointer;
}
.kecheng_content>div:hover{
    box-shadow: 0 0 0 1px #dddddd;
}
.tab_img{
    width: 223px;
    height: 124px;
    overflow: hidden;
}
.tab_wrap{
    width: 223px;
    height: 40px;
    margin-top: 8px;
    margin-bottom: 4px;
    padding: 0 10px;
}
.tab_name{
    width: 223px;
    height: 23px;
    padding: 0 10px;
    color: #666666;
    font-size: 12px;
}
.tab_xx{
    width: 202px;
    height: 17px;
    padding: 0 10px;
    line-height: 17px;
}
.tab_xx>span{
    font-size: 12px;
}
.xing>span{
    float: left;
    color:#49Af4f;
    font-size: 16px;
}
.tab_money{
    margin-top: 15px;
    height: 20px;
    padding: 0 10px;
    color: #666666;
}
.tab_img>img{
    transition: all 1s ease;
}
.tab_page:hover img{
    transform:scale(1.1);
}
.footer{
    padding: 0;
    height: 298px;
    background: #474443;
}
.footer>div{
    padding: 0;
    height: 298px;
}
.footer_left{
    height: 298px;
    width: 430px;
    padding: 50px 0 30px 0;
    float: left;

}
.footer_left>p{
    margin: 20px 0 30px 0;
    color: #ddd;
    font-size: 12px;
    line-height: 25px;
}
.logo{
    width: 100%;
    height: 46px;
}
.mini{
    width: 100%;
    height: 23px;
    color:white;
    margin-bottom: 15px;
}
.mini>span{
    display: inline-block;
    margin-left: 5px;
}
.mini>a{
    width: 20px;
    height: 20px;
    display: inline-block;
    text-align: center;
}
.mini>a>i{
    color: white;
    font-size: 9px;
}
.footer_right{
    float: right;
    width: 509px;
    height: 213px;
    padding: 113px 0 30px 0;
}
.footer_right a{
    display: inline-block;
    padding: 0 8px;
    color: #dddddd;
    font-size: 12px;
}
.app{
    width: 296px;
    height: 32px;
    margin-top: 15px;
    float: right;
    line-height: 32px;
    color: #dddddd;
}
.app>span{
    font-size: 10px;
}
.app a{
    float: right;
    width: 119px;
    height: 32px;
}
.app a:nth-child(2){
    background: url("../img/app.png") no-repeat 0 -42px;
}
.app a:nth-child(3){
    background: url("../img/app.png");
}
.backTop{
    width: 62px;
    height: 224px;
    border: 1px solid #ccc;
    border-radius: 6px;
    background: white;
    font-size: 14px;
    position: fixed;
    right: 30px;
    bottom: 113px;
    z-index: 1000;
    display: none;
}
.backTop>div{
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 70px;
    cursor: pointer;
    color: #333;
}
.backTop>div:hover{
    background: #3aa131;
    color: white;
}
.backTop>div>i{
    font-size: 35px;

}
.backTop>div>i.active{
    font-size: 14px;
    font-style: normal;
    display:block;
    width: 60px;
    height: 60px;
    padding: 10px 15px;
    color: white;
}
.backTop>div>span.active{
    display:block;
    width: 60px;
    height: 60px;
    padding: 10px 15px;
}
.backTop>span{
    display: block;
    width: 50px;
    height: 1px;
    background: #cccccc;
    margin: 10px auto;
}